
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::selection {
  background: #7856ffaa;
  color: #000022;
}
