@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.ttf")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP";
}

::selection {
  background: #7856ffaa;
  color: #fff;
}